<h1>Your Projects</h1>

<% if @roles.length == 0 %>
  <p>You currently don't have any projects.</p>
<% else %>
<ul>
  <% @roles.each do |role| %>
    <li>
      <a href="/projects/<%= role.project.id %>"><%= role.project.name %></a>
      <% if role.is_admin %>
        [ <a href="/admin/projects/<%= role.project.id %>">admin</a> ]
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>

<p>
  <a href="/admin/projects/new">Create project</a>
</p>
