<h1>New project</h1>

<% if !(errors = @project.errors).empty? %>
  <ul class="errors">
    <% errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/projects" method="post">
  <p>
    <label for="project_name">Name:</label>
    <input id="project_name" type="text" name="project[name]" value="<%= @project.name %>" />
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>
