{{#has_errors?}}
  <ul class="errors">
    {{#errors}}
      <li>{{.}}</li>
    {{/errors}}
  </ul>
{{/has_errors?}}

<form action="{{form_url}}" method="post">
  <p>
    <label for="project_name">Name:</label><br/>
    <input id="project_name" type="text" name="project[name]" value="{{project.name}}" />
  </p>
  <p>
    <label for="project_database_adapter">Adapter:</label><br/>
    <select id="project_database_adapter" name="project[database_adapter]">
      <option value="sqlite">SQLite</option>
    </select>
  </p>
  <p>
    <label for="project_status">Status:</label><br/>
    <select id="project_status" name="project[status]">
      {{#status_values}}
      <option{{selected}}>{{value}}</option>
      {{/status_values}}
    </select>
  </p>
  <p>
    <input type="submit" value="{{submit_value}}" />
  </p>
</form>
