<h1>{{project.name}}</h1>

<ul>
{{^forms}}
  <li>There are currently no forms for this projects.</li>
{{/forms}}
{{#forms}}
  <li>
    <a href="/admin/projects/{{project_id}}/forms/{{id}}">{{name}}</a>
    {{#published?}}
    [ published ]
    {{/published?}}
    {{^published?}}
    [ <a href="/admin/projects/{{project_id}}/forms/{{id}}/edit">edit</a> ]
    [ <a class="publish" href="/admin/projects/{{project_id}}/forms/{{id}}/publish">publish</a> ]
    {{/published?}}
  </li>
{{/forms}}
</ul>

<p>
  <a href="/admin/projects/{{project.id}}/forms/new">Create form</a>
</p>

<script type="text/javascript">
  $(function() {
    $("a.publish").click(function(e) {
      e.preventDefault();
      if (confirm("Are you sure?")) {
        $.ajax({
          type: 'POST',
          url: $(this).attr('href'),
          async: false
        });
      }
    });
  });
</script>
